<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação de PDF com CPF</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">

</head>
<body>
    <div class="container">
        <h2>Autenticação de PDF com CPF</h2>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div>
                <label for="cpf">CPF</label>
                {{form.cpf(size=20)}}
            </div>
            <div>
                <label for="position">Posição</label>
                {{form.position()}}
            </div>
            <div>
                <label for="Color">Cor</label>
                <input type="color" name="color" id="color">
            </div>
            <div>
                <label for="file">Selecionar arquivo</label>
                <input type="file" name="file" id="file">
            </div>
            <div>
                <input type="submit" name="Submeter">
            </div>
    
            {% if get_flashed_messages() %}
                <ul>
                    {% for message in get_flashed_messages() %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </form>
    </div>     
</body>
</html>